{{#partial "content"}}


    <p>Current Walkers:</p>
    {{#if walkers}}

        {{#each walkers}}
              <li class="walker-link"><a href="/walkers/{{id}}" class="walker-list">{{walkerName}}&nbsp;&nbsp;</a><p class ="btn btn-default btn-xs"><a href="/walkers/{{id}}/update">Edit walker</a></p>&nbsp;<p class ="btn btn-default btn-xs"><a href="/walkers/{{id}}/delete">Delete walker</a></p></>
        {{/each}}
    {{else}}
        <p>No Walkers!</p>
    {{/if}}

    <footer class="footer">
        <div class="container">
            <p class ="btn btn-default btn-md"><a href="/walkers/new">Add Walker</a></p>
        </div>
    </footer>
{{/partial}}

{{> layout.hbs}}