{{#partial "content"}}
    {{#if editDog}}
        <form action="/walkers/{{editDog.walkerId}}/dogs/{{editDog.id}}/update" method="post">
            <h1>Edit this Dog!</h1>
            <div class="form-group">
                <label for="walker">Walker Name:&nbsp;{{dogWalker.walkerName}}</label>
            </div>
            <div class="form-group">
                <label for="dogName">Enter Dog's Name: </label>
                <input id="walkerName" name="dogName" type="text" placeholder={{editMember.name}} required>
                <button type="submit" class="btn btn-default">Enter</button>
            </div>
        </form>

    {{else}}
        <h2>Add a new Dog!</h2>


        <form action="/dogs/new" method="post">
            <div class="form-group">
                <label for="walker">Walker Name:</label>
                <select id="walker" name="walker" required>
                    {{#each walkers}}
                        <option value="{{this.id}}">{{this.walkerName}}</option>
                    {{/each}}
                </select>
            </div>
            <label for="dogname">Enter this dog's name</label>
            <input id="dogname" name="dogname" type="text" placeholder="Enter a new dogname">
            </div>
            <button type="submit" class="btn btn-default">Enter</button>
    {{/if}}
        </form>



{{/partial}}

{{> layout.hbs}}