{{#partial "content"}}
    {{#if editDog}}
        <form action="/walkers/{{editDog.walkerId}}/dogs/{{editDog.id}}/update" method="post">
            <h1>Edit this Dog!</h1>
            <select id="dogToEditId" name="dogToEditId">
        {{#each dogs }}
            <option value="{{id}}">{{dogname}}</option>
        {{/each}}
            </select>
            <br>
            <label for="dogname">Edit this dog's name</label>
            <input id="dogname" name="dogname" type="text" placeholder={{editDog.dogName}}>
            <br>
            <label for="breed">Edit this dog's breed</label>
            <input id="breed" name="breed" type="text" placeholder={{editDog.breed}}>
            <br>
            <label for="color">Dog color</label>
            <input id="color" name="color" type="text"placeholder={{editDog.color}} >
            <br>
            <label for="walkerId">Update this dog's walker:</label>
            <input id="walkername" name="walkername"type="text"placeholder={{editWalker.walkername}}>


            <p>Don't see the right store?<a href="/walkers/new">Add a new one first.</a></p>


            <button type="submit" class="btn btn-default">Enter</button>
            <p>Don't see the right walker?<a href="/walkers/new">Add a new one first.</a></p>
        </form>

    {{else}}
        <h2>Add a new Dog!</h2>


        <form action="/dogs/new" method="post">
            {{#if walkers}}

            <label for="dogname">Edit this dog's name</label>
            <input id="dogname" name="dogname" type="text" placeholder="Enter a new dogname">
            <br>
            <label for="breed">Edit this dog's breed</label>
            <input id="breed" name="breed" type="text" placeholder="Enter a new breed">
            <br>
            <label for="color">Edit this dog's color</label>
            <input id="color" name="color" type="text">
            <br>
            <button type="submit" class="btn btn-default">Submit!</button>
            <br>
            <label for="walkerId">Update this dog's walker:</label>
            <input id="walkername" name="walkername"type="text"placeholder={{/walkers}}>
            <p>Don't see the right walker?<a href="/walkers/new">Add a new one first.</a></p>
            {{else}}
                <h3> You'll need to add a walker before you add a dog. <a href="/walkers/new">Add one here.</a> </h3>


    {{/if}}
        <button type="submit" class="btn btn-default">Go!</button>

        </form>



{{/partial}}

{{> layout.hbs}}