{{#partial "content"}}
    <p>Walker:</p>
    <p>{{walkers.walkername}}</p>
    <h5>Dogs :</h5>
    <p>
        {{#if dogs }}
            {{#each dogs}}
                    <li class="edit-dog">{{dogname}}
                        <p class ="btn btn-success"><a href="/walkers/{{this.walkerId}}/dogs/{{this.id}}/update">Edit dog</a></p>
                <br>
                        <p class ="btn btn-success"><a href="/walkers/{{this.walkerId}}/dogs/{{this.id}}/delete">Delete dog</a></p></li>
            {{/each}}
            <br>
            <p>No dog assigned!</p>
            <p class ="btn btn-default"><a href="/dogs/new">Add a Dog</a></p>
        {{/if}}
    <p class ="btn btn-default"><a href="/">Go Back</a></p>
{{/partial}}

{{> layout.hbs}}
